---
interface Props {
  title: string;
  desc: string;
}

const { title, desc } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Domine:wght@400..700&display=swap"
      rel="stylesheet"
    />
    <title>Gallery of Neville Brem - {title}</title>
    <meta name="description" content={desc} />
    <meta name="og:title" content={title} />
    <meta name="og:description" content={desc} />
    <meta name="og:url" content="https://photography.nevillebrem.com" />
    <meta name="og:image" content="hero.jpeg" />
    <meta name="twitter:image" content="hero.jpeg" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={desc} />
    <meta name="twitter:site" content="@BremNeville" />
    <script
      defer
      is:inline
      data-site-id="photography.nevillebrem.com"
      src="https://assets.onedollarstats.com/tracker.js"></script>
  </head>
  <body class="prose-headings:font-[Domine] prose-headings:font-bold">
    <nav class="m-8 flex items-center justify-between font-[Domine]">
      <a href="/" class="md:text-5xl text-3xl font-black text-primary">NB</a>
      <div class="flex gap-8 md:text-2xl text-xl font-bold text-secondary">
        <a href="/gallery">Gallery</a>
        <a href="/blog">Blog</a>
      </div>
    </nav>
    <div class="md:mx-16 mx-8 2xl:mx-auto 2xl:w-[60%]">
      <slot />
    </div>
    <footer
      class="md:p-16 p-4 prose-a:font-bold prose-a:text-primary font-[Domine]"
    >
      <h1 class="text-center text-xl">© Neville Brem 2025</h1>
      <div class="flex justify-center gap-4">
        <a href="https://links.nevillebrem.com" target="_blank">Links</a>
        <a href="https://instagram.com/nevillebrem" target="_blank">Instagram</a
        >
        <a href="https://nevillebrem.com" target="_blank">Homepage</a>
      </div>
    </footer>
  </body>
</html>
