---
import { getImage } from "astro:assets";
import banner from "@assets/hero.jpg";

interface Props {
  title: string;
  desc: string;
}

const { title, desc } = Astro.props;
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Anybody:ital,wght@0,100..900;1,100..900&display=swap'
      rel='stylesheet'
    />
    <title>Gallery of Neville Brem - {title}</title>
    <meta name='description' content={desc} />
    <meta name='og:title' content={title} />
    <meta name='og:description' content={desc} />
    <meta name='og:url' content='https://photography.nevillebrem.com' />
    <meta name='og:image' content={banner.src} />
    <meta name='twitter:image' content={banner.src} />
    <meta name='twitter:card' content='summary_large_image' />
    <meta name='twitter:title' content={title} />
    <meta name='twitter:description' content={desc} />
    <meta name='twitter:site' content='@BremNeville' />
  </head>
  <body class='font-[anybody] prose-headings:font-bold'>
    <nav class='m-8 flex items-center justify-between'>
      <a href='/' class='text-5xl font-black text-primary'>NB</a>
      <div class='flex gap-8 text-2xl font-bold text-secondary'>
        <a href='/gallery'>Gallery</a>
        <a href='/blog'>Blog</a>
      </div>
    </nav>
    <div class='mx-16 2xl:mx-auto 2xl:w-[60%]'>
      <slot />
    </div>
    <footer class='p-16 prose-a:font-bold prose-a:text-primary'>
      <h1 class='text-center text-xl'>© Neville Brem 2024</h1>
      <div class='flex justify-center gap-4'>
        <a href='https://links.nevillebrem.com' target='_blank'>Links</a>
        <a href='https://instagram.com/nevillebrem' target='_blank'>Instagram</a
        >
        <a href='https://nevillebrem.com' target='_blank'>Homepage</a>
      </div>
    </footer>
  </body>
</html>
